version: "3.9"
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: ${MYSQL_DB:-etqan_db}
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASS:-root}
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-proot"]
      interval: 10s
      timeout: 5s
      retries: 10

  app:
    image: node:20
    working_dir: /app
    volumes:
      - ./:/app
    command: ["bash", "-lc", "npm i && node src/server.js"]
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "3000:3000"
